<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Transacciones</title>
</head>
<body>
    <h2>Lista de Transacciones</h2>
    <ul>
        {% for transaccion in transacciones %}
            <li>{{ transaccion.cuenta.cliente.nombre }} - {{ transaccion.canal }} - Monto: {{ transaccion.monto }}</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'realizar_transaccion' %}">Realizar Transacción</a>
</body>
</html>
